.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}
.containerNavegacao {
  min-height: 600px;
}
.listaAtrizesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
